<app-nav-bar></app-nav-bar>

<div class="main-container">
    <div class="container">
        <div>
            <h3>Screening id:</h3>
            <p>{{screening?.id}}</p>
        </div>
        <div>
            <h3>Hall id:</h3>
            <a class="link" routerLink="/admin/halls/{{screening?.hallId}}">{{screening?.hallId}}</a>
        </div>
        <div>
            <h3>Movie Id:</h3>
            <a class="link" routerLink="/admin/movies/{{screening?.movieId}}">{{screening?.movieId}}</a>
        </div>
        <div>
            <h3>Start:</h3>
            <p>{{screening?.start | date: 'short'}}</p>
        </div>
        <!-- <button mat-button (click)="onToggleReservations()">Active reservations</button> -->
        <div>
            <h3>Reservations:</h3>
            <div *ngFor="let reservation of reservations">
                <a class="link" routerLink="/admin/reservations/{{reservation.id}}">{{reservation.id}}</a>
                <button *ngIf="!reservation.paid" (click)="onConfirmReservation(reservation.id)" class="action-button" mat-raised-button color="primary">Confirm</button>
            </div>
        </div>
        <div class="actions">
            <!-- <button class="action-button" mat-raised-button color="warn">Edit</button> -->
            <!-- <button class="action-button" (click)="onDeleteScreening()" mat-raised-button color="warn">Delete</button> -->
        </div>
    </div>
    <div>
        <app-seat-display *ngIf="dataLoaded" [hallId]="hallId" [screeningId]="screening?.id"></app-seat-display>
    </div>
</div>
