.query {
    text-align: center;
}

.query p {
    font-size: 2rem;
}

.query input {
    width: 500px;
    padding: 1%;
}

.col {
    font-size: .7rem;
    margin-left: 10px;
}

button {
    background-color: #e70634;
    padding: 1%;
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
}

table {
    text-align: center;
}
