.header {
    background-color: #fff;
    margin: auto auto;
    width: 50%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.header h1 {
    text-align: center;
    font-size: 2rem;
    padding: 2%;
    color: #000;
}

.btn {
    cursor: pointer;
    padding: .5%;
    background-color: #e70634;
    color: #fff;
    margin-bottom: 2%;
}

.genre {
    margin-bottom: 2%;
}