.container {
    text-align: center;
    font-size: 1.5rem;
}

input {
    font-size: 1.5rem;
    padding: 1%;
}

button {
    display: block;
    margin: 1% auto;
    font-size: 1.5rem;
    padding: 1% 3%;
    cursor: pointer;
}
