<div class="container">
    <div class="links">
        <a routerLink="/admin/movies">Movies</a>
        <a routerLink="/admin/halls">Halls</a>
        <a routerLink="/admin/genres">Genres</a>
        <a routerLink="/admin/productionCompanies">Companies</a>
        <a routerLink="/admin/productionCountries">Countries</a>
        <a routerLink="/admin/movieLanguages">Languages</a>
        <a routerLink="/admin/statistics">Statistics</a>
        <a routerLink="/admin/movies/external">Add movie (external service)</a>
        <a routerLink="/admin/movies/raw">Raw query</a>
    </div>
</div>
