.links {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e70634;
    text-align: center;
}

.links a {
    margin: 1%;
    color: #fff;
}

.links a:hover {
    text-decoration: underline;
}
